body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ffd6f6, #000);
  color: white;
  overflow-x: hidden;
}

.slider {
  display: flex;
  width: 600vw;
  height: 100vh;
  transition: transform 0.7s ease;
}

.page {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

.start h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  cursor: pointer;
}

.next-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 12px 22px;
  border-radius: 20px;
  background: #ff8bdc;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.couple-img {
  width: 420px;
  max-width: 90%;
  margin-bottom: 20px;
}

.card {
  background: rgba(255,255,255,0.12);
  padding: 25px;
  border-radius: 20px;
  max-width: 500px;
}

.intro-row {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

.mini-char {
  width: 120px;
}

.quiz-page button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 15px;
  background: #ff8bdc;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.letter {
  background: linear-gradient(145deg, #fff0f8, #ffd6f6);
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  width: 500px;
  max-width: 95%;
  border: 3px solid #ff8bdc;
  box-shadow: 0 0 30px rgba(255,150,220,0.6);
  color: #5a0033;
  font-family: 'Playfair Display', serif;
  font-size: 1.05rem;
  line-height: 1.7;
}

.letter-img {
  width: 220px;
  margin: 15px 0;
  border-radius: 20px;
}
