body {
  margin: 0;
  font-family: 'Brush Script MT', cursive;
  background: linear-gradient(to bottom, #ffd6f6, #000);
  overflow: hidden;
}

.page {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.page.active {
  display: flex;
}

.start {
  cursor: pointer;
  font-size: 3rem;
  color: white;
}

.couple-img {
  width: 350px;
  margin-bottom: 20px;
}

.text-box {
  max-width: 400px;
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: pink;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.char-section img {
  width: 280px;
}
