body {
  margin: 0;
  overflow: hidden;
  font-family: 'Brush Script MT', cursive;
  background: linear-gradient(to bottom, #ffd6f6, #000);
}

.slider {
  display: flex;
  width: 600vw; /* 6 pages */
  height: 100vh;
  transition: transform 0.8s ease-in-out;
}

.page {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, h2, p {
  color: white;
}

.couple-img {
  width: 350px;
  margin-bottom: 20px;
}

.char {
  width: 280px;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff8bdc;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
}
